/*
Theme Name: TheProfessional
Theme URI: http://www.elegantthemes.com/gallery/
Version: 3.7
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { background: url(images/header_bg.jpg) center top no-repeat; text-align: center; line-height: 21px; font-family: 'Droid Sans', Arial, Verdana, sans-serif; font-size: 12px; color: #201f1f; min-height: 25px; background-color: #dddddd; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #111111; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111111; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#container { text-align: left; width: 964px; margin: 0 auto; position: relative; }
		.logolink { display: block; height: 46px; margin: 40px 0px 23px 7px;}
		#menu { background: url(images/menu-bg.png) no-repeat; height: 65px; margin-bottom: 30px; }
	#content-top { background: url(images/content-top-bg.png) no-repeat; height: 16px; }
	#content{ background: url(images/content-bg.png) repeat-y; }
	#content-bottom { background: url(images/content-bottom-bg.png) no-repeat; height: 70px; }
	.top-alt { background: url(images/content-top-bg-alt.png) no-repeat !important; }
	.content-alt { background: url(images/content-bg-alt.png) repeat-y !important; }
	.bottom-alt { background: url(images/content-bottom-bg-alt.png) no-repeat !important; }
		div.service {float: left; width: 190px; position: relative; padding: 36px 32px 20px 90px;}
			div.service img.service-icon { position: absolute; left: 32px; top: 34px; }
			div.service h3.title { font-size: 18px; margin-bottom: 3px; }
			div.service h3.title a {color: #000;}
			div.service h3.title a:hover { text-decoration: none; }
			div.service span.tagline { font-family: Georgia, serif; font-style: italic; color: #9e9e9e; margin-bottom: 9px; text-transform: uppercase; font-size: 10px;}
			div.hr {background: url(images/hr-bg.png) no-repeat; height: 18px; width: 202px; margin-bottom: -2px;}
			#content a.readmore {float: right; background: url(images/readmore.png) no-repeat bottom right; height: 27px; display: block; text-shadow: 1px 1px 1px #ffffff; font-size: 11px; color: #282828; line-height: 27px; padding-right: 13px;}
				#content a.readmore span { display: block; background: url(images/readmore.png) no-repeat; padding:0 0px 0 12px; height:27px; }
				#content a.readmore:hover { color: #3e3e3e; }

		div#content-area { width: 960px; padding: 0px 1px; }

		.content-alt div#content-area { width: 656px; float: left; padding: 0px 0px 0px 1px; margin-right: 1px; }

			#breadcrumbs { border-bottom: 1px solid #ebebeb; font-family: Georgia, serif; text-transform: uppercase; font-size: 11px; font-style: italic; padding: 0px 15px 11px 45px; }
				#breadcrumbs, #breadcrumbs a { color: #9e9e9e; }
					#breadcrumbs a:hover { color: #5f5e5e; text-decoration: none; }
				#breadcrumbs span.sep { background: url(images/breadcrumb-separator.png) no-repeat; display: inline-block; width: 4px; height: 7px; margin: 1px 1px 0 3px; }

			.entry { padding: 28px 42px 15px 42px; }
			.content-alt .entry { padding: 28px 62px 15px 42px; }
				.entry h2.title, .entry h1.title { padding-bottom: 14px; padding-left:2px; font-size: 24px; }
					.entry h2.title a:hover { color: #333232; text-decoration: none; }
				p.post-meta { text-transform: uppercase; font-style: italic; font-family: Georgia, serif; font-size: 12px; color: #9e9e9e; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; margin-bottom: 11px; padding: 8px 5px 7px 4px; }
					p.post-meta a { color: #646464; }
					p.post-meta a:hover { color: #414141; text-decoration: none; }
				div.thumb { margin: 0px 20px 0px 0px; position: relative; padding: 8px 0px 0px 8px; width: 191px; height: 191px; }
					div.thumb span.overlay { position: absolute; top: 0px; left: 0px; background: url(images/image-overlay.png) no-repeat; display: block; width: 199px; height: 199px; }

				.entry ul, .post ul { list-style-type: disc; margin: 10px 0px 10px 20px; }
					.entry ol, .post ol { list-style-type: decimal; list-style-position: inside; margin: 10px 0px 10px 2px; }
						.entry ul li ul, .post ul li ul, .entry ul li ol, .post ul li ol { margin: 2px 0px 2px 20px; }
						.entry ol li ul, .post ol li ul, .entry ol li ol, .post ol li ol  { margin: 2px 0px 2px 35px; }

			.post { padding-bottom: 35px !important; }

			.hr-separator { height: 1px; background: #ebebeb; margin-top: 17px; }
			.page-nav { padding-top: 24px; padding-bottom: 0px; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/
			ul.nav { font-size: 13px; float:left; padding: 8px 0px 0px 11px; }
				ul.nav li { margin-right: 5px; z-index: 10; }
					ul.nav li a { color:#4e4d4d; text-shadow: 1px 1px 0px #eeeeee; padding: 6px 1px 5px 10px; }
					ul.nav li a:hover {text-decoration: none;}

				ul.nav li:hover ul, ul.nav li.sfHover ul { top: 39px !important; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow:3px 6px 7px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.1); border: 1px solid #9a9a9a; border-top: none; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; background: url(images/dropdown-bg.png) repeat-y; width: 186px; padding: 2px 0px 12px; }
					ul.nav li:hover ul ul, ul.nav li.sfHover ul ul { top: -2px !important; left: 174px !important; }

					ul.nav ul li { margin: 0px 0px 0px 13px; background: url(images/dropdown-separator.png) no-repeat bottom left; padding-left: 4px; padding-bottom: 2px; }
						ul.nav ul li a { background: url(images/menu-bullet.png) no-repeat 0px 9px; width: 145px; padding: 4px 0px 4px 15px; }
				ul.nav ul li:hover ul, ul.nav ul li.sfHover ul { top: -12px; left: 191px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; }

				ul.nav li.backLava { background:url("images/link-active-bg.png") no-repeat scroll right bottom transparent; position:absolute; padding-right: 10px; height:35px !important; z-index: 5; }
					ul.nav li.backLava div.leftLava { background:url("images/link-active-bg.png") no-repeat; position: relative; width: 100%; height: 100%; }
					ul.nav li.selectedLava a, ul.nav li a:hover, ul.nav > li.sfHover > a { color: #000000; text-shadow: 1px 1px 0px #fff; }

		#search-form { float: right; width: 147px; background: url(images/search.png) no-repeat; height: 28px; margin-top: 11px; margin-right: 15px;}
		#searchinput { background: none; border: none; font-style: italic; font-family: Georgia, serif;color: #686767; text-shadow: 1px 1px 1px #dcdcdc; padding-left: 11px; display: block; margin-top: 5px; float:left; width: 100px; font-size: 11px; }
		#searchsubmit { float:right; margin-top:9px; padding-right: 10px;}

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

	#featured {background: url(images/featured-bg.png) no-repeat; height: 401px; margin-bottom: -5px; position: relative; margin-left: -2px; padding-top: 5px; padding-left: 11px;}
			div.slide div.overlay {background: url(images/slider-overlay.png) no-repeat; height: 345px; width: 943px; position: absolute; top: 0px; left: 0px;}
				div.description {background: url(images/description-bg.png) no-repeat; position: absolute; height: 232px; width: 512px; bottom: 0px; left: 0px;}
					div.description h2.title {padding: 33px 40px 17px 30px; font-size: 36px; }
						div.description h2.title a {text-decoration:none; color:#fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.8);}

					div.description p {color:#fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); padding-left: 33px; padding-right: 35px; line-height: 17px;}
					div.description a.readmore { background: url(images/featured-readmore.png) no-repeat bottom right; display: block; height: 25px; line-height: 23px; float: right; text-shadow: 1px 1px 1px #000000; font-size: 11px; float: right; color: #ffffff; padding-right: 13px; margin-right: 40px; }
						div.description a.readmore span { display: block; background: url(images/featured-readmore.png) no-repeat; padding:0 0px 0 12px; height:25px; }

					div.description a:hover { color: #eeeeee !important; }

		a#left-arrow { background: url(images/left_arrow.png) 0px 0px no-repeat; left: -27px; }
		a#right-arrow { background: url(images/right_arrow.png) 0px 0px no-repeat; right: -27px; }
		a#left-arrow, a#right-arrow { display:block; height:35px; position: absolute; text-indent:-9999px; top:158px; width:23px; }


	#slides { background: #000000; }
		#controllers { position: absolute; top: 25px; right: 4px; z-index: 10; width: 76px; background: url(images/controllers-bottom.png) no-repeat bottom left; padding-bottom: 14px; display: none; }
			#controllers-top { background: url(images/controllers-top.png) no-repeat; height: 15px; }
			#controllers-main { background: url(images/controllers-bg.png) repeat-y; padding: 4px 0px 0px 19px; }
				#controllers a { display: block; position: relative; margin-bottom: 5px; }
				#controllers a:hover { text-decoration: none; }
				#controllers a.last { margin-bottom: 0px; }
					#controllers a span.overlay { display: block; position: absolute; top: 0px; left: 0px; background: url(images/featured-overlay.png) no-repeat; width: 48px; height: 48px; }
					#controllers a span.tooltip { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius:10px; -moz-box-shadow:2px 3px 8px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.2); background: rgba(255, 255, 255, 0.8); border:1px solid #ffffff; display:none; left:-222px; padding:13px 20px 13px 15px; position:absolute; top:-52px; width:175px; }
						#controllers a span.tooltip span.heading { font-size: 14px; color: #000000; display:block; padding-bottom: 1px; }
						#controllers a span.tooltip span.excerpt { color: #464646; display:block; }
						#controllers a span.tooltip span.left-arrow  { background: url(images/tooltip-arrow.png) no-repeat; position: absolute; right: -13px; top: 64px; display:block; height:24px; line-height:0; width:12px; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap { border-top: 1px solid #ebebeb; padding: 30px 45px 0px; }
	li.depth-1 { padding: 30px 0px 5px 0px; border-bottom: 1px solid #ebebeb; }

h3#comments { font-size: 24px; color: #000000; }

.comment-icon { background: url(images/comment-bottom-bg.png) no-repeat bottom left; padding-bottom: 14px; }

.comment-icon .post { padding: 3px 0px 0px; }

div.authordata { width: 100px; }
	div.avatar { float: left; position: relative; padding:6px 4px 6px 6px; }
		div.avatar span.overlay { background: url(images/avatar-overlay.png) no-repeat; display: block; width: 67px; height: 67px; position: absolute; top: 0px; left: 0px; }

	.comment-wrap { float:left; margin-left:14px; }

		.reply-container { display:block; float:right; margin-bottom:15px; background: url(images/readmore.png) no-repeat bottom right; height: 27px; text-shadow: 1px 1px 1px #ffffff; font-size: 11px; line-height: 27px; padding-right: 13px; }
			.reply-container a { display: block; background: url(images/readmore.png) no-repeat; padding:0 0px 0 12px; height:27px; color: #282828; }
			.reply-container a:hover { text-decoration: none; color: #383838; }

	li.depth-1 .comment-wrap { width: 789px; }
	li.depth-2 .comment-wrap { width: 707px; }
	li.depth-3 .comment-wrap { width: 625px; }
	li.depth-4 .comment-wrap { width: 543px; }

	.content-alt li.depth-1 .comment-wrap { width: 485px; }
	.content-alt li.depth-2 .comment-wrap { width: 403px; }
	.content-alt li.depth-3 .comment-wrap { width: 321px; }
	.content-alt li.depth-4 .comment-wrap { width: 239px; }

	ol.commentlist { list-style:none outside none; padding-top:8px; }
		ol.commentlist ul { list-style:none outside none; }

		.commentlist li.comment li { background: none; padding: 0px; }
		.commentlist li.comment ul { margin: 8px 0px 8px 82px; }

	#respond { padding-top: 25px; }
		.comment #respond { padding-left: 0px; padding-top: 5px; }
		#commentform textarea#comment { width: 88%; }
		#commentform input[type=text] { width: 40%; }


		li.comment #respond textarea { width: 88% !important; }
		li.comment #respond input[type=text] { width: 50% !important; }

	#respond h3#comments { background: none; margin: 0px; padding: 0px; }

	.comment-author { padding-top: 2px; }
		.comment-author .comment-meta, .comment-author .comment-meta a { color: #9e9e9e; font-size: 14px; text-transform: uppercase; font-style: italic; font-family: Georgia, serif; }
			.comment-author .comment-meta a:hover { text-decoration: none; }
		span.fn, span.fn a { color: #000000; font-size: 18px; }
			span.fn a:hover { text-decoration: none; }

	.comment-content { padding-top:5px; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

		p#copyright {float:right; font-size:10px; color:#858585;text-shadow: 1px 1px 1px #fff; margin-top: -5px; padding-right: 2px; text-transform: uppercase; }
			p#copyright a {color:#757575; font-weight: bold; }


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

div#sidebar { width: 303px; float: left; padding-right: 2px; text-shadow: 1px 1px 1px #ffffff; margin-top:-8px; }
	#sidebar a { color: #727272; }
	.widget { background: url(images/widget-separator.png) repeat-x bottom left; padding: 25px 10px 20px 25px; }
		.widget h3.widgettitle { color: #656464; text-transform: uppercase; font-size: 18px; background: url(images/widget-title-bg.png) no-repeat bottom left; padding:0 0 28px 10px; margin-left: -11px; }

		.widget ul ul { margin: 0px 0px 0px 15px; }
		.widget ul li { background:url(images/sidebar-bullet.png) no-repeat 0px 8px; padding:0px 0px 3px 14px; }
			.widget ul li ul { padding:3px 0px 0px 7px; margin: 0px 0px -4px; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; text-align: right; font-size: 24px; }

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited { padding: 5px 7px; margin: 2px; text-decoration: none; border: 1px solid transparent; color: #d8d8d8; background-color: #fff; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important ; color: #000000; border:none !important; color: #d8d8d8; background-color: #fff; font-size: 12px; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 5px 7px !important; margin: 2px; border:1px solid #ebebeb !important; color:#474747 !important; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-weight: normal !important; }


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.js div#from-blog div.entries {display: none;}

.foursixeight { margin: 0px 0px 15px 84px;}
.et_pt_gallery_entry { margin: 0 0 32px 72px !important; }

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }

#commentform input[type=text] { width: 40%; display: block; padding: 5px; }
#commentform textarea#comment { width: 91%; }
.commentlist #respond textarea#comment { width: 98% !important; }
.commentlist #respond input[type=text] { width: 40%; display: block; padding: 5px; }
.comment_navigation_bottom { padding-top: 12px; }
.et_embedded_videos { display: none !important; }

.js #featured #slides { background: url(images/ajax-loader.gif) no-repeat center; min-height: 345px; }
	.js #featured .slide { display: none; }